
<%-include('include/_header')%>

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
             <a href="/add-book" class="border-shadow">
                 <span class="text-gradient">New Book <i class="fa-solid fa-book-open-cover"></i></span>
              
             </a>
         </div>
         <form action="/" method="post">
        <table class="table">
          <thead class="thead-dark">
           <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Desc</th>
               <th>Genre_ID</th>
               <th>ِAction</th>
           </tr>
          </thead>
          <tbody>
            <%-include('include/_show')%> 
          </tbody>
        </table>
        </form>
     </div>
 </main>

<%-include('include/_footer')%>