
<%-include('include/_header')%>

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Books</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Book</h2>
            <span class="text-light">Use the below form to Update Book</span>
        </div>
 <!-- form handling -->
 

<form  method="POST" id="update_book">
    <div class="new_user">
    <div class="form-group">
    <label for="name" class="text-light">Name</label>
    <input type="hidden" name="id" value="<%= book._id %>">
    <input type="text" name="name" value="<%= book.name %>" placeholder="name...">
    </div>
    <div class="form-group">
    <label for="desc" class="text-light">Description</label>
    <input type="text" name="desc" value="<%= book.desc %>" placeholder="desc...">
    </div>
    <div class="form-group">
    <label for="desc" class="text-light">Book Genre</label>
    <input type="text" name="genre" value="<%= book.genre %>" placeholder="Genre...">
    </div>
    
    
    <div class="form-group">
    <button type="submit" class="btn text-dark update">Save</button>
    </div>
    
    </div>
    </form>
      
       
    </div>
</main>
<%-include('include/_footer')%>