

<form action="/api/book" method="POST" id="add_book">
    <div class="new_user">
    <div class="form-group">
    <label for="name" class="text-light">Name</label>
    <input type="hidden" name="id" value="">
    <input type="text" name="name" value="" placeholder="Book name..">
    </div>
    <div class="form-group">
    <label for="desc" class="text-light">Description</label>
    <input type="text" name="desc" value="" placeholder="desc...">
    </div>
    <div class="form-group">
    <label for="desc" class="text-light">Book Genre</label>
    <input type="text" name="genre" value="" placeholder="Genre...">
    </div>
    
    
    <div class="form-group">
    <button type="submit" class="btn text-dark update">Save</button>
    </div>
    
    </div>
    </form>